* {
	box-sizing: border-box;
	
}
#container {
	display: inline-block;
	width: 100%;
}

.legislator {
	width: 33%;
	display: inline-block;
	border: 4px solid white;
	background: lightgreen;
	padding: 15, 15, 0, 15;
	
}

.legislatorName {
	font-size: 20px;
}

.titlePartyStateName {
	font-size: 15px;

}